In [2]:
a,b,c,d = "dodfj","faif","oehf","hfeof"
x = [a,b,c,d]

In [3]:
print(x)

['dodfj', 'faif', 'oehf', 'hfeof']

In [4]:
print(x,type(x))

['dodfj', 'faif', 'oehf', 'hfeof'] <class 'list'>

In [5]:
x = [range(10)]
print(x[0])

range(0, 10)

In [6]:
y = list(range(10))
print(y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
y = list(range(1,10,2))
print(y)

[1, 3, 5, 7, 9]

In [8]:
y = [i for i in range(1,10,2) ]
print(y)

[1, 3, 5, 7, 9]

In [9]:
y = [i for i in range(10) if i%2==1]
print(y,type(y))

[1, 3, 5, 7, 9] <class 'list'>

In [10]:
x = [0]*5
print(x)

[0, 0, 0, 0, 0]

In [11]:
x = [0 for i in range(5)]
print(x,type(x))

[0, 0, 0, 0, 0] <class 'list'>

In [12]:
x = [i for i in range(10,1,-2)]
print(x)

[10, 8, 6, 4, 2]

In [13]:
x = [i**2 for i in range(5)]
print(x,type(x))

[0, 1, 4, 9, 16] <class 'list'>

In [14]:
x = [i for i in range(101) if i%2!=0 and i%3==0]
print(x)

[3, 9, 15, 21, 27, 33, 39, 45, 51, 57, 63, 69, 75, 81, 87, 93, 99]

In [15]:
x = [[0]*4 for i in range(5)]
print(x)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [16]:
x[0][0]=1
print(x,type(x))

[[1, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]] <class 'list'>

<b>不太一样<b/>

In [17]:
y = [[0]*4]*5
print(y)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [18]:
y[0][0]=1
print(y,type(y))

[[1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0], [1, 0, 0, 0]] <class 'list'>

In [19]:
a = [0]*3
x = [a]*4
print(x,type(x))

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]] <class 'list'>

In [20]:
x[0][0] = 1
print(x,type(x))

[[1, 0, 0], [1, 0, 0], [1, 0, 0], [1, 0, 0]] <class 'list'>

In [21]:
mix = [1,"fhao",3.16,[1,2,3]]
print(mix,type(mix))

[1, 'fhao', 3.16, [1, 2, 3]] <class 'list'>

In [22]:
empty = []
print(empty,type(empty))

[] <class 'list'>

In [23]:
x=[]
print(len(x))
x.append("1")
print(x,len(x))

0
['1'] 1

In [24]:
x = []
y = ["a","b"]
x.append(y[0])
x.append(y)#作为整体进行添加
print(x,len(x))

['a', ['a', 'b']] 2

In [25]:
x = []
y = ["a","b"]
x.extend(y[0])
x.extend(y)
print(x,len(x))

['a', 'a', 'b'] 3

In [26]:
a = 2
x = []
x.append(a if a<0 else a/2)
print(x)

[1.0]

In [27]:
x = [1,2,3,4,5,6]
x.insert(2,"fhoa")
print(x)

[1, 2, 'fhoa', 3, 4, 5, 6]

In [28]:
x = [1,2,3,4,5,6]
print(x,len(x))
x.remove(2)
print(x,len(x))

[1, 2, 3, 4, 5, 6] 6
[1, 3, 4, 5, 6] 5

In [29]:
x = ["Monday","Tuesday","Wednesday","Thursday","Friday"]
y = x.pop()
print(y)
print(x,len(x))

Friday
['Monday', 'Tuesday', 'Wednesday', 'Thursday'] 4

In [30]:
x = ["Monday","Tuesday","Wednesday","Thursday","Friday"]
y = x.pop(-2)
print(y)
print(x)

Thursday
['Monday', 'Tuesday', 'Wednesday', 'Friday']

In [31]:
x = ["Monday","Tuesday","Wednesday","Thursday","Friday"]
del x[0:2]
print(x)

['Wednesday', 'Thursday', 'Friday']

In [32]:
x = ["Monday","Tuesday","Wednesday","Thursday","Friday"]
print(x[0],type(x[0]))

Monday <class 'str'>

In [33]:
x = ["Monday","Tuesday","Wednesday","Thursday","Friday"]
for i in range(len(x)):
    print(x[i],end = " ")

Monday Tuesday Wednesday Thursday Friday

In [34]:
for each in x:
    print(each,end = " ")

Monday Tuesday Wednesday Thursday Friday

In [35]:
print(x[2:])

['Wednesday', 'Thursday', 'Friday']

In [36]:
print(x[0:3:2])

['Monday', 'Wednesday']

In [37]:
print(x[:-1])#前闭后开

['Monday', 'Tuesday', 'Wednesday', 'Thursday']

In [38]:
print(x[0:2])#start 一定小于 stop值

['Monday', 'Tuesday']

In [39]:
print(x[::-1])#将一个列表倒序排列

['Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday']

In [40]:
x = [123,456,789,213]
y = x  #深复制，随着x改变
d = x[:] #只复制了元素，不随着x改变
print("x",x)
print("y",y)
print("d",d)

x [123, 456, 789, 213]
y [123, 456, 789, 213]
d [123, 456, 789, 213]

In [41]:
x.sort()
print("x",x)

x [123, 213, 456, 789]

In [42]:
print("y",y)
print("d",d)

y [123, 213, 456, 789]
d [123, 456, 789, 213]

In [43]:
list1 = [[123,456],[789,213]]
list2 = list1
list3 = list1[:]
print(list1)
print(list2)
print(list3)

[[123, 456], [789, 213]]
[[123, 456], [789, 213]]
[[123, 456], [789, 213]]

<b>深拷贝与浅拷贝

In [44]:
list1[0][0]=0
print(list1)
print(list2)
print(list3)

[[0, 456], [789, 213]]
[[0, 456], [789, 213]]
[[0, 456], [789, 213]]

In [45]:
list1 = [123,456]
list2 = [456,923]
list3 = [123,456]
assert list1 == list2

AssertionError:

In [46]:
print(list1 == list2)#元素和位置都正确
print(list1 ==list3)

False
True

<b>这里为什么是None<b/>

In [47]:
list4 = list1+list2
list5 = list1.append(list2)
print("列表相加",list4)
print("extend方法",list5)

列表相加 [123, 456, 456, 923]
extend方法 None

In [48]:
list1 = [123,456]
list2 = [456,923]
list3 = [123,456]
print(123 in list1)

True

In [49]:
list1 *=3
print(list1)

[123, 456, 123, 456, 123, 456]

In [52]:
num = list1.count(123)
num

3

In [56]:
list1 = [123,456]*5
print(list1)
print(list1.index(123))

[123, 456, 123, 456, 123, 456, 123, 456, 123, 456]
0

In [59]:
print(list1.index(123,1,3))

2

In [60]:
x = [123,456,789]
x.reverse()
print(x)

[789, 456, 123]

In [63]:
x = [123,456,789]
y = x[::-1]
print(y)

[789, 456, 123]

In [64]:
x = [123,456,789,213]
x.sort()
print(x)

[123, 213, 456, 789]

In [65]:
x.sort(reverse=True)
print(x)

[789, 456, 213, 123]

In [66]:
def takesecond(elem):
    return elem[1]

In [67]:
x = [(2,2),(3,4),(5,6),(1,3)]
x.sort(key = takesecond)
print(x)

[(2, 2), (1, 3), (3, 4), (5, 6)]

In [68]:
x.sort(key = lambda a:a[0])#lambda 表达式
x

[(1, 3), (2, 2), (3, 4), (5, 6)]

In [70]:
t1 = (1,10.67,"python")
t2 = 1,10.67 ,"python"
print(t1,type(t1))
print(t2,type(t2))

(1, 10.67, 'python') <class 'tuple'>
(1, 10.67, 'python') <class 'tuple'>

In [71]:
tuple1 = 1,2,3,4,5
print(tuple1[3])

4

In [72]:
print(tuple1[:-1])

(1, 2, 3, 4)

In [73]:
print(tuple1[1:])

(2, 3, 4, 5)

In [74]:
print(tuple1[::-1])

(5, 4, 3, 2, 1)

In [77]:
list1 = [1,2,4,5,2]
print(list1[0:4:2])

[1, 4]

In [78]:
print(tuple1[:])

(1, 2, 3, 4, 5)

In [79]:
x = (1,)
print(x,type(x))
y = (1)
print(y,type(y))

(1,) <class 'tuple'>
1 <class 'int'>

In [80]:
x = []
print(x,type(x))
y = ()
print(y,type(y))

[] <class 'list'>
() <class 'tuple'>

In [81]:
print(8*(8))
print(8*(8,))

64
(8, 8, 8, 8, 8, 8, 8, 8)

In [82]:
x = (1,2,3)
x[0]=0
print(x)

TypeError: 'tuple' object does not support item assignment

In [83]:
x = (123,2627,"python"),(78,"269")
x

((123, 2627, 'python'), (78, '269'))

In [84]:
x[0][2]

'python'

In [87]:
week = ("Monday","Tuesday","Thursday","Friday")
week = week[:2]+("Wendesday",)+week[2:]
week

('Monday', 'Tuesday', 'Wendesday', 'Thursday', 'Friday')

In [88]:
t1 = (1,2,3,[1,2,3])
t1

(1, 2, 3, [1, 2, 3])

In [89]:
t1[3][0]=9
t1

(1, 2, 3, [9, 2, 3])

In [90]:
t2 = (1,2,3,(4,5,6))#其中有个元素是元组，不支持更改
t2

(1, 2, 3, (4, 5, 6))

In [91]:
t2[3][0]=9

TypeError: 'tuple' object does not support item assignment

In [99]:
t1 = (123,456)
t2 = (456,123)
t3 = (123,456)

In [100]:
print(t1 == t2)
print(t2 == t3)

In [101]:
t4 = t1 + t2
print(t4)

(123, 456, 456, 123)

In [102]:
t1 = (123, 456)
t2 = (456, 123)
t3 = (123, 456)

print(t1 == t2)  # False
print(t1 == t3)  # True

t4 = t1 + t2
print(t4)  # (123, 456, 456, 123)

False
True
(123, 456, 456, 123)

In [104]:
t5 = t1*3
t5

(123, 456, 123, 456, 123, 456)

In [105]:
t3*=3
t3

(123, 456, 123, 456, 123, 456)

In [106]:
len(t3)

6

In [108]:
t = (1,10.31,"python")
print(t.count("python"))
print(t.index("python"))

1
2

In [109]:
(a,b) = t
print(a,b)

ValueError: too many values to unpack (expected 2)

In [110]:
(a,b,c) = t
print((a,b,c))

(1, 10.31, 'python')

In [111]:
t = (1,2,("python",9.23))
(a,b,(c,d)) = t
print(a,b,c,d)

1 2 python 9.23

In [112]:
t = 1,2,3,4,5
a,b,*rest,c = t
print(a,b,c)
print(*rest)

1 2 5
3 4

In [115]:
print(t)
a,*rest = t
print(a)
print(*rest,type(rest))
print(rest,type(rest))

(1, 2, 3, 4, 5)
1
2 3 4 5 <class 'list'>
[2, 3, 4, 5] <class 'list'>

In [116]:
t = 12,34,99,23.32
a,b,*_ = t
print(a,b)

12 34

In [118]:
str1 = "I love Python"
print(str1,type(str1))

I love Python <class 'str'>

In [119]:
print(5+8)
print("5"+"8")

13
58

In [120]:
print("let\'s go!")#转义字符

let's go!

In [121]:
print(r"C:\Program File\Intel")

C:\Program File\Intel

In [122]:
para = """这是一个多行注释实例
三行注释
也可以使用换行符
"""
print(para)

这是一个多行注释实例
三行注释
也可以使用换行符

In [124]:
str1 = "I love Python"
print(str1[:6])

I love

In [128]:
str2 = "me too"
print(str1 + " 未来你好 " + str2)
for i in str2:
    print(i)

I love Python 未来你好 me too
m
e

t
o
o

In [129]:
for i in range(len(str2)):
    print(str2[i])

m
e

t
o
o

In [130]:
s = "xiaoxie " #只转换第一个字符
print(str2.capitalize())

Me too

In [133]:
print(s)
print(s.upper())
c = s.upper()

xiaoxie
XIAOXIE

In [134]:
print(c.lower())

xiaoxie

In [135]:
x = "fjoKDH"
print(x.swapcase())

FJOkdh

In [138]:
str2 = "xiaoxie"
print(str2.count("xi"))

2

In [141]:
str2 = "daxiaoxie"
print(str2.endswith("ie"))
print(str2.endswith("fgif"))

True
False

In [142]:
str2 = "DAXIExiaoxie"#有相同的将不再是左边的第一个 而是右边的第一个
print(str2.find('xi'))  # 5
print(str2.find('ix'))  # -1
print(str2.rfind('xi'))  # 9

5
-1
9

In [145]:
str2 = "739"
print(str2.isnumeric())
str3 = str2 + "ohf"
print(str3.isnumeric())

True
False

In [146]:
str5 = "1101"
print(str5.ljust(8,"0"))
print(str5.rjust(8,"0"))

11010000
00001101

In [147]:
str5 = " I love lsgoGroup "
print(str5.lstrip())
print(str5.lstrip().strip("I"))

I love lsgoGroup
 love lsgoGroup

In [148]:
print(str5.rstrip().strip("p"))

 I love lsgoGrou

In [149]:
str5 = " I love Python "
print(str5)
print(str5.lstrip())
print(str5)

 I love Python
I love Python
 I love Python

In [151]:
print(str5)
print(str5.rstrip())
print(str5.strip())

 I love Python
 I love Python
I love Python

In [154]:
str8 = " I love python  "
print(str8.strip().partition("o"))

('I l', 'o', 've python')

In [155]:
print(str5.strip().rpartition("m"))

('', '', 'I love Python')

In [156]:
str7 = " I love python "
print(str7.strip().replace("I","We"))

We love python

In [158]:
str5 = " I love Group"
print(str5.strip().split())
print(str5.strip().split("o"))

['I', 'love', 'Group']
['I l', 've Gr', 'up']

In [159]:
u = "www.baidu.com.cn"
print(u.split())

['www.baidu.com.cn']

In [160]:
print(u.split("."))

['www', 'baidu', 'com', 'cn']

In [162]:
print(u.split(".",0))
print(u.split(".",1))
print(u.split(".",2))

['www.baidu.com.cn']
['www', 'baidu.com.cn']
['www', 'baidu', 'com.cn']

In [163]:
print(u.split(".",2)[0])

www

In [164]:
u1,u2,u3 = ["d","f","s"]
print(u1)

d

In [166]:
c = '''say
hi
hello
'''
print(c.split("\n"))

['say', 'hi', 'hello', '']

In [168]:
string = "hello boy<[www.baidu.com]>byebye"
print(string.split("[")[1].split("]")[0])
print(string.split("[")[1].split("]")[0].split("."))

www.baidu.com
['www', 'baidu', 'com']

In [171]:
str9 = "{0} love {1} ".format("I","Lsgogroup")
print(str9)

I love Lsgogroup

In [173]:
str10 = "{0} love {b} ".format("I",b = "python")
str10

'I love python '

In [176]:
c = 90
str9 = "{0:.2f}{1}".format(c,"GB")
print(str9)

90.00GB

In [177]:
print("%c"%97)

a

In [178]:
print("%d + %d = %d"%(4,5,4+5))
print("我叫%s,今年%d岁了"%("小明",10))
print("%.2f"%89)

4 + 5 = 9
我叫小明,今年10岁了
89.00

In [1]:
l = (1,2,3)
print(hash(l))

2528502973977326415

In [3]:
g = [1,2,3]  #不能被hash  就是可变
print(hash(g))

TypeError: unhashable type: 'list'

In [4]:
brand = ["li","ks","hos"]
solgan = ["n","f","s"]

In [10]:
dic = {"Name":"fh","Age":7}
print(list(dic.keys()),type(list(dic.keys())))

['Name', 'Age'] <class 'list'>

In [11]:
print(dic.values())

dict_values(['fh', 7])

In [12]:
print(dic.items())

dict_items([('Name', 'fh'), ('Age', 7)])

In [13]:
print(tuple(dic.items()))
print(list(dic.items()))

(('Name', 'fh'), ('Age', 7))
[('Name', 'fh'), ('Age', 7)]

In [15]:
print("Age is %s"%dic.get("Age","NA"))

Age is 7

In [16]:
print("Sex is %s"%dic.get("Sex","NA"))

Sex is NA

In [18]:
dic = {"hf":1,"fho":67}
print(dic.pop("hf"))
print(dic)

1
{'fho': 67}

In [19]:
dic1 = dic
print(dic1)

{'fho': 67}

In [20]:
dic1.clear()
if dic1:
    print("还有")
else:
    print("没了")

没了

In [21]:
dic1 = {'Name': 'Lsgogroup', 'Age': 7, 'Class': 'First'}
dic2 = dic1.copy()
print(dic2)

{'Name': 'Lsgogroup', 'Age': 7, 'Class': 'First'}

In [22]:
num = (1,2,3)
print(type(num))

<class 'tuple'>

In [25]:
baskert = set()
if baskert:
    print("不空")
else:
    print("空的",baskert)

空的 set()

In [29]:
a = "sjf"
print(set(a),type(set(a)))

{'f', 'j', 's'} <class 'set'>

In [30]:
ls  = [1,2,3,4,3,2,1]
print(ls)
print(set(ls))#集合去掉相同的元素

[1, 2, 3, 4, 3, 2, 1]
{1, 2, 3, 4}

In [32]:
s = set(ls)
print(type(s),s)

<class 'set'> {1, 2, 3, 4}

In [36]:
print(i for i in ls)

<generator object <genexpr> at 0x000001B303A606C8>

In [38]:
for i in ls:
    print(i,end = " ")

1 2 3 4 3 2 1

In [39]:
print(len(ls))

7

In [40]:
print(len(s))

4

In [42]:
for item in s:
    print(item,end = "  ")

1  2  3  4

In [43]:
print(1 in s)

True

In [45]:
print(s,type(s))

{1, 2, 3, 4} <class 'set'>

In [49]:
a= 1,2,4
b = set(a)
print(b,type(b))

{1, 2, 4} <class 'set'>

In [51]:
print(b.add(78))
print(b)

None
{1, 2, 4, 78}

In [52]:
x = {"apple", "banana", "cherry"}
y = {"google", "baidu", "apple"}
x.update(y)
print(x)

{'banana', 'baidu', 'apple', 'google', 'cherry'}

In [53]:
x.remove("apple")

In [54]:
print(x)

{'banana', 'baidu', 'google', 'cherry'}

In [55]:
x.discard("banana")

In [56]:
print(x)

{'baidu', 'google', 'cherry'}

In [57]:
a = range(4)

In [58]:
print(a)

range(0, 4)

In [59]:
se = set(a)
se

{0, 1, 2, 3}

In [60]:
li = list(se)
li

[0, 1, 2, 3]

In [61]:
tu = tuple(se)
tu

(0, 1, 2, 3)

In [62]:
b = "I love Python"
print(list(b))

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [63]:
c = (1,3,5,6,9,)
print(list(c))

[1, 3, 5, 6, 9]

In [64]:
print(tuple(b))

('I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n')

In [66]:
print(str(c),type(str(c)))

(1, 3, 5, 6, 9) <class 'str'>

In [68]:
a = list()
print(len(a))

b = {"s":2}
print(len(b))

0
1

In [74]:
print(max(1,2))
print(min([9,3])
print(((1,2)).max())

SyntaxError: invalid syntax (<ipython-input-74-2cc2dd793470>, line 3)

In [75]:
print(max("fhoaf"))

o